<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="projedenemesi.Properties.Settings.ProLab3ConnectionString"
            connectionString="Data Source=DESKTOP-PT75IMG\SQLEXPRESS;Initial Catalog=ProLab3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="projedenemesi.Properties.Settings.ProLab3ConnectionString1"
            connectionString="Data Source=SATELLITE;Initial Catalog=ProLab3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>